/**
 * generic css for forms with label inside fields
 */

.donation-form form{
    margin-top:10px;
    clear: none;
    margin-right: 0px;
    padding: 0;
    width: 100%;
}

.donation-form form div{
    clear:left;
    height:25px;
    width:227px;
    margin-bottom:10px;
    padding:0;
}
.donation-form form label{
    color:#636363;
}
.donation-form form .error label,
.donation-form form .error label.error-message{
    color:#6E6E6E;
}

.donation-form form div{
    height:26px;
}
.donation-form form div.prefilled input{
    background-color:#fff;
}

.donation-form form div.error{
    height:37px;
    background-color:transparent;
    width:227px;
    color:red;
    border:none;
    font-size:9px;
    z-index:2;
}
.donation-form form div.error input{
    background-color:transparent;
}
.donation-form form div.error.prefilled input{
    background-color:#ffdada;
}
.donation-form form div.error label{
    background-color:#ffdada;
}

.donation-form form div.error label{
    padding: 5px 0 5px 5px;
}

.donation-form .input.radio fieldset{
    margin-bottom:-10px;
}

.donation-form .input.radio legend{
    color:#000;
    font-size:14px;
    margin-bottom:10px;
}
.donation-form .input.radio fieldset label.hidden{
    visibility:visible !important;
}

.donation-form .input.radio label{
    padding-right:50px;
}

.donation-form form .required label::after {
    content:'';
    display:none;
}
.donation-form form .required{
    font-weight:normal;
}

.donation-form form fieldset legend {
    color: #2B8FEC;
    font-size: 120%;
    font-weight: bold;
}


.donation-form form div.error-message{
    padding-top:30px;
}
.donation-form form div.halffield div.error-message{
    width:150px;
}

.donation-form form label,
.donation-form form input{
    width:227px;
    position:absolute;
    border:1px solid #000;
    font-size:13px;
    padding:5px 0 5px 5px;
    background-color:#fff;
    height:15px;
}
.donation-form form input.valid{
    background:#fff url('../../img/registrations/valid.png') no-repeat right center;
}
.donation-form form .error input.valid{
    background:#fff;
}

.donation-form form div.halffield{
    width:155px;
    clear:none;
    float:left;
    margin-right:10px;
}
.donation-form form div.halffield.last{
    margin-right:0px;
}
.donation-form form div.halffield.omega{
    margin-right: 0 !important;
}
.donation-form form .halffield label,
.donation-form form .halffield input{
    width:150px;
}
.donation-form form label{
    z-index:2;
}
.donation-form form input{
    z-index:3;
    background:none;
}
.donation-form form div input:focus,
.donation-form form div.focus input{
    border:1px solid #2794d7;
    background-color:transparent;
}
.donation-form form div.focus.prefilled input{
    background-color:#fff;
}
.donation-form form label.hidden{
    visibility:hidden;
}
.donation-form form div.focus label{
    color:#ddd;
}
.donation-form form div.focus div.error-message{
    color:#000;
}

.donation-form form select{
    font-size:14px;
    font-family:"Lato", "sans-serif", verdana;
    width:315px;
    height:27px;
}

.donation-form .input.select p.info{
    margin-top: -17px;
}

.donation-form .input.radio,
.donation-form .input.radio input,
.donation-form .input.radio label
{
    position:static;
    height:auto;
    border:none;
    width:auto;
    background-color:transparent;
    color:#000;
}
.donation-form .input.radio input,
.donation-form .input.radio label{
    display:inline;
}

.donation-form .input.select label{
    display:none;
}

.donation-form .input.select select{
    width:235px;
}

.donation-form form div.submit{
    height:40px;
}
.donation-form form div.submit input{
    background:url('../../img/registrations/button-bg.png') no-repeat left top;
    color:#fff;
    height:40px;
    border:0px;
    width:227px;
    position:static;
    cursor:pointer;
    font-size:20px;
    font-weight: bold;
    text-align: center;
}
.donation-form form input.submit:hover{
    background-position:left bottom;
}

form .info {
    content: "Why email ?";
    width: 30px;
    left: 325px;
}
form .info {
    cursor: help;
}
form .info {
    background: transparent url('../img/icons/questionmark_s.png') right 0 no-repeat;
    width: 20px;
    float: right;
    margin-right: -30px;
    padding: 0px 0px 0px 23px;
    font-size: .9em;
    min-height: 18px;
    margin-top:4px;
}

form .info span {
    display: none;
    background: #FFF;
    padding: 10px;
    position:absolute;
    z-index:60000;
    width:200px;
    margin-left:-200px;
}

form .info:hover span{
    display:block;
}