.faq-content ul {
  margin:0;
  padding:0;
}
.faq-content ul ul{
  padding:0;
}
.faq-content ul li {
  margin:0;
  list-style-type:none;
  padding:0 0 0 0;
  margin:0 0 10px 0;
}
.faq-content ul li p {
  padding:0 10px 0px 10px;
}
.faq-content ul li ul li {
  list-style-type:circle;
  padding:0 5px 0 5px;
  margin:0 20px 2px 30px;
}
.faq-content div {
  padding-bottom:10px;
}
.faq-content h3 {
  cursor:pointer;
  color:#ED1C24;
  padding:5px 10px;
  margin:0 0 5px 0;
  text-shadow: 1px 1px 1px #FFF;
}
a.button.donate{
  margin-left:15px;
}
