/* Layout & main zones */
.slideshow_container, 
.slideshow {
  min-height:430px;
  background: #FFF;
  margin:auto;
  max-width:960px;
}
.slideshow {
  background: transparent url(../img/appeals/sponsor-a-child/960/slide1.jpg) top center no-repeat;
  padding-top:10px;
  font-size:.9em;
}
/* slideshow */
.slideshow .arrow {
  margin-top:200px;
  display:none;
  opacity:0;
}
.slideshow .arrow span {
  display:none;
}
.slideshow .arrow.left {
  float:left;
  margin-left:-60px;
}
.slideshow .arrow.right {
  float:right;
  margin-right:-60px;
}
.slideshow .arrow a {
  opacity:.7;
  width:38px;
  height:66px;
  display:block;
}
.slideshow .arrow.left a {
  background: transparent url('../img/layout/arrows.png') 0 -66px no-repeat;
}
.slideshow .arrow.right a {
  background: transparent url('../img/layout/arrows.png') 0 0 no-repeat;
}
.slideshow .arrow a:hover{
  opacity:1;
}
.slideshow .slide {
  margin-top:10px;
}
.slideshow .caption blockquote {
  font-size:1.8em;
  padding:5px;
  background:#FFF;
  line-height:1.45em;
}
.slideshow .caption .context {
  display:inline;
  font-size:1.5em;
  line-height:1.8em;
  padding:5px;
  margin-top:0px;
  background:transparent url(../img/layout/FFF70.png) repeat;
  display:block;
}
.slideshow a {
  font-size:1.2em;
  text-shadow: 1px 1px 1px #000;
  color:#FFF;
  padding-left:5px;
}
.slideshow h2{
  margin-top:25px;
}

/* form */
form .info {
  cursor:help;
}
form .info span {
  display:none;
}
form .info:hover span {
  display:block;
  padding:1px;
}
form .info:hover span span {
  display: inline;
  padding:1px;
}
form .info:hover span:hover {
  cursor:default;
}
form .info {
  /* background:transparent url('../img/icons/s/help.png') 5px 0 no-repeat; */
  content: "Why email ?";
  width:30px;
  left:325px;
  margin-left:-8px;
}
form .info:hover span {
  margin-left: -188px;
  width: 150px;
  -webkit-box-shadow: 0 1px 5px 1px #333;
  -moz-box-shadow: 0 1px 5px 1px #333;
  box-shadow: 0 1px 5px 1px #333;
}
form .info span {
  display:none;
  background:#FFF;
  padding:10px;
}
form .info:hover span {
  display:block;
  padding:10px;
}
form .info:hover span span {
  display: inline;
  margin-left: 0px;
  width: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
fieldset {
  background: transparent url(../img/layout/FFF70.png) top center repeat;
  border:0;
}
fieldset legend {
  background: #FAFAFA;
}/*
fieldset.gift {
  padding-top:15px;
  padding-bottom:10px;
}*/
fieldset.gift p {
  padding-top:0;
  margin-top:2px;
}
fieldset.contact {
  padding-bottom:30px;
}
fieldset.gift .info {
  padding-top:0;
  margin-top:2px;
}
form .icon.inr {
  background:transparent url('../img/inr.png') 0 0 no-repeat;
  padding-left:15px;
}
.tax.note {
  float:left;
  font-size:.8em;
  color:#FFF;
  text-shadow: 1px 1px 0px #000;
  margin:0 5px 5px 5px;
}
h3.tax.note {
  font-size:1.1em;
  width:330px;
}
/* fold */
.fold {
  padding-bottom:30px;
}
.fold .content {
}
.fold .sidebar {
  margin-top:0;
}
.fold h3 {
  font-size:1.4em;
  margin-top:15px;
  text-shadow: 2px 2px 2px #FFF;
}
.fold .redbg a {
  -webkit-box-shadow: 0 1px 3px 1px #777;
  -moz-box-shadow: 0 1px 3px 1px #777;
  box-shadow: 0 1px 3px 1px #777;
}
.fold ul {
  padding-left:20px;
}

.fold .box{
  width:172px;
  margin:0 10px 0 10px;
  float:left;
}
.fold .box.omega{
  width:172px;
  margin:0 0 0 10px;
}
.fold .box.alpha{
  width:172px;
  margin:0 10px 0 0;
}

.fold .how-is-money-spent {
}
.fold .impact .figure {
  margin-top:10px;
  margin-bottom:10px;
  padding:5px 20px 0 0;
  border-right:1px dotted #CCC;
  height:86px;
}
.fold .impact .omega .figure {
  border:0;
}
.fold .impact .big,
.fold .impact .small{
  display:block;
  text-align:center;
  text-shadow: 2px 2px 2px #FFF;
}
.fold .impact .big {
  font-size:1.5em;
  font-weight:bold;
}
.fold .impact .small {
  font-size:0.9em;
  font-weight:bold;
  color:#333;
}
.fold .offlineform {
  padding:0;
}
.fold .offlineform p{
  font-size:1.15em;
  margin-top:-5px;
}
.fold .testimonials {
}
.fold .testimonials blockquote{
  float:left;
  display:block;
  background:#FFF;
  padding:10px;
  border:1px solid #CCC;
  font-weight:normal;
  text-align:left;
  font-size:1.15em;
  margin:0;
  margin-right:10px;
}
.fold .social.media {
  padding:0;
}
/* faq */
.accordion ul {
  font-size:1.1em;
  margin:0;
  padding:0;
}
.accordion ul ul{
  padding:0;
}
.accordion ul li {
  margin:0;
  list-style-type:none;
  padding:0;
  margin:0;
}
.accordion ul li p {
  padding:0 20px 0px 10px;
}
.accordion ul li ul li {
  font-size:.9em;
  list-style-type:circle;
  padding:0 5px 0 5px;
  margin:0 20px 2px 30px;
}
.accordion div {
  padding-bottom:10px;
}
.accordion h4 {
  cursor:pointer;
  color:#ED1C24;
  padding:5px 0px;
  margin:0 0 5px 0;
  text-shadow: 1px 1px 1px #FFF;
}

ul.offline-form-list li{
  margin-top:10px;
}
ul.offline-form-list li.first{ margin-top:0; }

.thank-you h2 {
  background: #fff top center repeat;
  display:inline;
  padding:10px;
  font-size:2.2em;
}
.thank-you h3{
  margin-bottom:0;
  color: white;
  text-shadow: 1px 1px 0px black;
}

.thank-you .banner ul{
  background: transparent url(../img/layout/FFF70.png) top center repeat;
  padding-top:1px;
  padding-bottom:10px;
  padding-right:10px;
  font-size:1.3em;
}
.thank-you .banner ul>li{
  margin-top:10px;
}
.thank-you .banner ul>li a{
  font-size:1em;
  text-shadow:none;
}

.thank-you .banner{ padding-top:20px; }
.thank-you .banner a{ color:#ED1C24; }

.thank-you p {
  float:left;
  background: transparent url(../img/layout/FFF70.png) top center repeat;
  font-size:1.3em;
  padding:10px;
  margin-bottom:10px;
}
.like.social.media ul{
  padding-left:10px;
  float:left;
  width:360px;
  background: transparent url(../img/layout/FFF70.png) top center repeat;
  padding:10px;
  margin-top:15px;
  /* margin-bottom:170px; */
}

div.slogan p{
	float: left;
	width: 520px;
	position: absolute;
	background-color: #C7061D;
	margin-top: 440px;
	font-size:16px;
	padding: 7px;
	color:  white;
	font-weight: bold;
	margin-left: 10px;
	font-family:"AmericanTypwrterITCW01- 731010",Helvetica,Helvetica Neue,Arial,sans-serif;
	border:1px solid #7C0F1B;
} 

